# Data preprocessing

In [ ]:
!git clone https://github.com/babinyurii/UFO-dataset-visualization.git

Cloning into 'UFO-dataset-visualization'...
remote: Enumerating objects: 35, done.
remote: Total 35 (delta 0), reused 0 (delta 0), pack-reused 35
Unpacking objects: 100% (35/35), done.

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
os.chdir('/content/UFO-dataset-visualization/data')

In [ ]:
data = pd.read_csv("scrubbed.csv", low_memory=False)
data.head()

           datetime                  city  ...    latitude  longitude
0  10/10/1949 20:30            san marcos  ...  29.8830556  -97.941111
1  10/10/1949 21:00          lackland afb  ...    29.38421  -98.581082
2  10/10/1955 17:00  chester (uk/england)  ...        53.2   -2.916667
3  10/10/1956 21:00                  edna  ...  28.9783333  -96.645833
4  10/10/1960 20:00               kaneohe  ...  21.4180556 -157.803611

[5 rows x 11 columns]

## Cleaning the data

In [ ]:
data = data.rename({'duration (seconds)': 'duration_seconds', 'duration (hours/min)': 'duration_hours_min', 'date posted': 'date_posted'}, axis=1)

In [ ]:
data.dtypes

datetime               object
city                   object
state                  object
country                object
shape                  object
duration_seconds       object
duration_hours_min     object
comments               object
date_posted            object
latitude               object
longitude             float64
dtype: object

In [ ]:
data.shape

(80332, 11)

In [ ]:
data.datetime = data.datetime.str.replace('24:', '00:')

In [ ]:
data.datetime = data.datetime.astype('datetime64')

In [ ]:
duration_without_na = data.duration_seconds.dropna()
duration_without_na[~duration_without_na.str.contains('^\d+(\.\d+)?$', na=False)].value_counts()

/usr/local/lib/python3.7/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

8`           1
2`           1
0.5`         1
2631600      1
Name: duration_seconds, dtype: int64

In [ ]:
data.duration_seconds = data.duration_seconds.str.replace('`', '').astype('float64')

In [ ]:
data.date_posted = data.date_posted.astype('datetime64')

In [ ]:
data.date_posted

0       2004-04-27
1       2005-12-16
2       2008-01-21
3       2004-01-17
4       2004-01-22
           ...
80327   2013-09-30
80328   2013-09-30
80329   2013-09-30
80330   2013-09-30
80331   2013-09-30
Name: date_posted, Length: 80332, dtype: datetime64[ns]

In [ ]:
data.latitude[~data.latitude.str.contains('^-?\d+(\.\d+)?$')]

/usr/local/lib/python3.7/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

43782    33q.200088
Name: latitude, dtype: object

In [ ]:
data = data.drop(index=43782)

In [ ]:
data.latitude = data.latitude.astype('float64')

In [ ]:
data.dtypes

datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration_seconds             float64
duration_hours_min            object
comments                      object
date_posted           datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object

In [ ]:
data.isna().any()

datetime              False
city                  False
state                  True
country                True
shape                  True
duration_seconds      False
duration_hours_min    False
comments               True
date_posted           False
latitude              False
longitude             False
dtype: bool

# Start here....

Visualize the first 6 rows of the dataset.

In [ ]:
data.head(6)

             datetime                  city  ...   latitude  longitude
0 1949-10-10 20:30:00            san marcos  ...  29.883056  -97.941111
1 1949-10-10 21:00:00          lackland afb  ...  29.384210  -98.581082
2 1955-10-10 17:00:00  chester (uk/england)  ...  53.200000   -2.916667
3 1956-10-10 21:00:00                  edna  ...  28.978333  -96.645833
4 1960-10-10 20:00:00               kaneohe  ...  21.418056 -157.803611
5 1961-10-10 19:00:00               bristol  ...  36.595000  -82.188889

[6 rows x 11 columns]

Get some general information about the dataset.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80331 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            80331 non-null  datetime64[ns]
 1   city                80331 non-null  object
 2   state               74534 non-null  object
 3   country             70662 non-null  object
 4   shape               78399 non-null  object
 5   duration_seconds    80331 non-null  float64
 6   duration_hours_min  80331 non-null  object
 7   comments            80316 non-null  object
 8   date_posted         80331 non-null  datetime64[ns]
 9   latitude            80331 non-null  float64
 10  longitude           80331 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 7.4+ MB

It seems like the column ```duration_hours_min``` is not that useful and you would like to drop the column.

In [ ]:
data.drop("duration_hours_min", axis=1, inplace=True)

In [ ]:
data.head()

             datetime                  city  ...   latitude  longitude
0 1949-10-10 20:30:00            san marcos  ...  29.883056  -97.941111
1 1949-10-10 21:00:00          lackland afb  ...  29.384210  -98.581082
2 1955-10-10 17:00:00  chester (uk/england)  ...  53.200000   -2.916667
3 1956-10-10 21:00:00                  edna  ...  28.978333  -96.645833
4 1960-10-10 20:00:00               kaneohe  ...  21.418056 -157.803611

[5 rows x 10 columns]

Get the summary for the data.

In [ ]:
data.describe(datetime_is_numeric=True)

                            datetime  ...    longitude
count                          80331  ...  80331.000000
mean   2004-05-17 07:11:29.266179840  ...    -86.772650
min              1906-11-11 00:00:00  ...   -176.658056
25%              2001-08-02 22:20:00  ...   -112.073333
50%              2006-11-22 05:10:00  ...    -87.903611
75%              2011-06-21 01:00:00  ...    -78.755000
max              2014-05-08 18:45:00  ...    178.441900
std                              NaN  ...     39.697396

[8 rows x 5 columns]

How many sightings are there in this dataset?

In [ ]:
data.shape

(80331, 10)

Which city has the most UFO sightings?

In [ ]:
data.city.value_counts()

seattle                                 525
phoenix                                 454
portland                                374
las vegas                               368
los angeles                             353
                                       ...
pumpkin center                            1
puerto escodido (mexico)                  1
balboa island                             1
ellenville                                1
halidiki (mount holomontas) (greece)      1
Name: city, Length: 19899, dtype: int64

Does Malaysia have UFO sightings?

In [ ]:
data.country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

What is the average time in minutes of all the sightings?

In [ ]:
data.duration_seconds.mean() / 60

150.2833170384617

Which state in the United States has the most number of UFO sightings?

In [ ]:
data[data.country == 'us'].state.value_counts().head()

ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
Name: state, dtype: int64

What is the min duration of the sightings in states in the United States?

In [ ]:
data[data.country == 'us'].groupby('state').duration_seconds.min()

state
ak    1.00
al    0.50
ar    0.20
az    0.10
ca    0.10
co    0.10
ct    1.00
dc    4.00
de    1.00
fl    1.00
ga    0.10
hi    1.00
ia    0.50
id    0.30
il    0.01
in    0.50
ks    1.00
ky    1.00
la    1.00
ma    0.50
md    0.30
me    0.40
mi    0.50
mn    0.33
mo    0.50
ms    1.00
mt    1.00
nc    0.05
nd    1.00
ne    1.00
nh    0.50
nj    0.50
nm    0.50
nv    0.45
ny    0.05
oh    0.50
ok    0.50
or    0.01
pa    0.50
pr    2.00
ri    0.50
sc    0.50
sd    1.50
tn    1.00
tx    0.50
ut    0.50
va    1.00
vt    1.00
wa    0.01
wi    1.00
wv    1.00
wy    1.00
Name: duration_seconds, dtype: float64

What are all the UFO shapes?

In [ ]:
data['shape'].unique()

array(['cylinder', 'light', 'circle', 'sphere', 'disk', 'fireball',
       'unknown', 'oval', 'other', 'cigar', 'rectangle', 'chevron',
       'triangle', 'formation', nan, 'delta', 'changing', 'egg',
       'diamond', 'flash', 'teardrop', 'cone', 'cross', 'pyramid',
       'round', 'crescent', 'flare', 'hexagon', 'dome', 'changed'],
      dtype=object)

What is the probability of seeing a circle UFO?

In [ ]:
sum_of_circles = (data['shape'] == 'circle').sum() 
sum_of_not_na = data['shape'].notnull().sum()
sum_of_circles / sum_of_not_na

0.09704205410783301

Do we have sightings with same comments?

In [ ]:
(data.comments.value_counts() > 1).any()

True

Which year has the most UFO sightings?

In [ ]:
data['year'] = data.datetime.dt.year
data['month'] = data.datetime.dt.month
data['day'] = data.datetime.dt.day

In [ ]:
data.year.value_counts()

2012    7357
2013    7037
2011    5107
2008    4820
2009    4541
        ...
1934       1
1906       1
1941       1
1916       1
1920       1
Name: year, Length: 87, dtype: int64

At what time in a day should we look out the window to search for UFO?

In [ ]:
data['hour'] = data.datetime.dt.hour

In [ ]:
data.hour.value_counts().sort_index()

0      4802
1      3210
2      2357
3      2004
4      1529
5      1590
6      1224
7       905
8       803
9       958
10     1166
11     1144
12     1368
13     1303
14     1322
15     1433
16     1620
17     2592
18     4002
19     6147
20     8617
21    11445
22    10837
23     7953
Name: hour, dtype: int64

What shape of UFO can we see more often in the morning (0600-1159)?

In [ ]:
from datetime import time;
data['time'] = data.datetime.dt.time
morning_sightings = data[(data.time >= time(hour=6)) & (data.time < time(hour=12))]
morning_sightings.head()

              datetime                    city state  ... day hour      time
35 1982-10-10 07:00:00  gisborne (new zealand)   NaN  ...  10    7  07:00:00
84 1999-10-10 06:00:00                  dallas    tx  ...  10    6  06:00:00
85 1999-10-10 11:00:00               san diego    ca  ...  10   11  11:00:00
94 2000-10-10 06:15:00           boynton beach    fl  ...  10    6  06:15:00
95 2000-10-10 07:30:00       victoria (canada)    bc  ...  10    7  07:30:00

[5 rows x 15 columns]

In [ ]:
morning_sightings['shape'].value_counts()

light        945
circle       604
disk         536
triangle     503
other        495
sphere       456
unknown      418
oval         386
fireball     356
cigar        283
changing     188
cylinder     165
formation    136
rectangle    133
diamond      107
flash         93
teardrop      89
egg           80
chevron       46
cone          27
cross         26
Name: shape, dtype: int64

Create a dataset that contains ```datetime```, ```country```, ```shape``` and ```duration_seconds```. Save that dataset in csv format with filename ```simplified_dataset.csv```.

In [ ]:
new_dataset = data.loc[:, ['datetime', 'country', 'shape', 'duration_seconds']]
new_dataset.head()

             datetime country     shape  duration_seconds
0 1949-10-10 20:30:00      us  cylinder            2700.0
1 1949-10-10 21:00:00     NaN     light            7200.0
2 1955-10-10 17:00:00      gb    circle              20.0
3 1956-10-10 21:00:00      us    circle              20.0
4 1960-10-10 20:00:00      us     light             900.0

In [ ]:
new_dataset.to_csv('simplified_dataset.csv', header=True, index=False)